# =========================
# PYTHON
# =========================
__pycache__/
*.pyc

# =========================
# ENV FILES
# =========================
API/.env
dashboard/.env


# =========================
# SPARK / HIVE
# =========================
metastore_db/
spark-warehouse/

# =========================
# HADOOP TEMP FILES
# =========================
tmp/

# =========================
# VSCODE
# =========================
.vscode/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db